body
{
	background-image: url('./hintergrundbild.png');
	background-color: transparent;
	background-position: -500px -250px;
}

.jumbotron li {
	font-size: 18px;
}

@media (min-width: 960px) {
	.container {
	  max-width: 980px;
	}
	.jumbotron
	{
		margin-top: 120px;
		background-color: transparent;
	}
	.navButton
	{
		margin-left: 15px;
	}
	.headerSelim, .headerSelim .navbar-brand
	{
		border-bottom: 3px solid #0186BC;
		background-color: #ffffff;
	}
	.headerSelim .navbar-brand {
		border-bottom: none;
	}

	.iwisTipp /*.navbar-collapse.collapse*/
	{
		background: url('./iwi-klein.png') no-repeat 0 0 transparent;
		height: 120px !important;
		display: block;
		width: 98px;
	}
	.padding {
		padding: 15px;
	}

	blockquote {
		border-left-color: #0186BC;
	}

	#iwistipp h2 {
		white-space: nowrap;
		min-width: 250px;
	}

	/* Hervorhebung durch blau */
	.highlight {
		color: #0186BC;
	}

	video {
		border: 1px solid #333;
	}
}

@media (min-width: 1200px) {
	video {
	  min-width: 500px;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 960px) {
	.jumbotron {
		margin-top: 80px;
		background-color: transparent;
	}
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.jumbotron {
		margin-top: 30px;
		background-color: transparent;
	}
}
/* Radiobuttons haben linksbündigen Text */
.btn.radioButton {
	text-align: left;
	white-space: normal;
}
/* Klasse zur Hervorhebung richtiger Antworten */

.correct {
	color: #fff;
	border: 1px solid #008000;
	background-color: #008000;
	
}

/* Klasse zur Hervorhebung falscher Antworten */

.wrong {
	color: #fff;
	border: 1px solid red;
	background-color: red;
}

/* Venn Diagramm */
.VenContainer {
	background-color: #cccccc;
}
.vennDiagramm1 {
	background-color: yellow;
	border-radius: 50% 0 0 50%;
}
.vennDiagramm2 {
	background-color: #008000;
}
.vennDiagramm3 {
	background-color: blue;
	border-radius: 0 50% 50% 0;
}
.glossar .panel {
	margin-bottom: 0;
}

.buttonsLGAnsicht a {
	margin-right: 5px;
}

/* Drag & Drop Tabelle */
.fixed-td-width td {
	width: 33%;
	height: 70px;
}

@media(max-width: 768px) {
	.fixed-td-width td {
		width: 33%;
		height: 100px;
	}
}

.draggable {
	cursor: move;
}

code {
	color: #0186BC;
}

hr {
	border-top: 1px solid #000;
}

.aufgabe1, .aufgabe2 {
	margin-top: 50px;
}

#lueckentext>.selects {
	display: inline;
	width: auto;
}

.marked {
	background-color: #0186BC;
}

#cursor-change > strong {
	cursor: pointer;
}